

.weather {
    background-image: ;
    background-size: cover;
    background-position: bottom;
    transition: 0.4 ease-out;
}

.weather.warm {
    background-image: ;
}

main {
    min-height: 100vh;
}

.input {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    margin: 20px;
    padding: 15px;
    appearance: none;
    border: none;
    outline: none;
    color: white;
    background-color: rgb(100, 167, 255);
    box-shadow: 5px 5px 5px rgb(217, 217, 255);
    border-radius: 16px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.637);
    opacity: 1; /* Firefox */
  }